/* h1 {
  display: flex;
  justify-content: center;
}

img {
  margin: 5px;
  width: 21%;
} */

/* STATS */

/* .activities-list {
  margin: 10px;
}

.stats {
  justify-content: center;
}

.stats-list {
  margin: 10px;
}

.stats-card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  float: left;
} */

/* .stats-select {
  margin: 30px 20px 30px;
}

.stat-increase {
  margin: 20px;
}

.stats-container {
  margin: auto;
  width: 80%;
  background-color:red
}

.label-increase {
  display: flex;
  justify-content: space-between;
}

.f {
  display: flex;
} */

/* .statsRelatories {
  background-color: black;
} */

/* MOVIES */ 

/* .moviesSection {
  padding: 100px;
  display: flex;
  justify-content: center;
  background-color: green;
  color: white;
}

/* IMAGES */ 

/* .imagesSection {
  padding: 100px;
  display: flex;
  justify-content: center;
  background-color: blue;
  color: white;
} */ 

/* BUTTONS */ 

/* .buttonStrap {
  margin: 1.5px;
}

.headerButtons {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #d5e8d558;
}

.nav-span {
  cursor: pointer;
}

.component-increase {
  display: flex;
  float: right;
  flex-direction: row-reverse;
} */
