@tailwind base;

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

@layer base {
  html {
    font-family: "Roboto", sans-serif;
  }
}
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

input,
select,
textarea {
  width: 195px;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.fc-daygrid-day {
  cursor: pointer;
}

.nav-btn {
  @apply p-4 text-gray-900  bg-gray-100/10 hover:bg-gray-100/60 hover:cursor-pointer flex items-center;
}

.nav-btn-responsive {
  @apply md:px-4 lg:px-10 xl:px-20 2xl:px-24;
}

.btn-stats {
  @apply p-1 mx-1 md:p-2 rounded-lg md:ml-2 shadow-sm hover:shadow-inner shadow-black mt-1 md:mt-0;
}

.btn-select {
  @apply w-10 h-10 rounded-md my-1 shadow-sm hover:shadow-inner shadow-black;
}

.btn-calendar {
  @apply w-6 h-6 rounded-full mx-1 shadow-md shadow-black/50;
}

.input-stats {
  @apply bg-transparent border rounded-xl md:px-2 py-1 text-center;
}

.h4-stats {
  @apply font-semibold mb-2 rounded hover:cursor-default shadow-sm shadow-black;
}

.container-stats {
  @apply flex flex-col;
}

.champ-img {
  @apply ml-1 rounded shadow-2xl shadow-black cursor-pointer grayscale contrast-100 brightness-50 hover:invert;
}

.input-login {
  @apply shadow appearance-none border rounded min-w-full py-2 px-3 bg-neutral-800 text-white  outline-none;
}
